body {
    background-image: url('https://cdn.pixabay.com/photo/2015/03/17/01/19/wood-floor-677054_960_720.jpg');
}

#team-container {
    background: orange;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 960px;
    padding: 1%; 
    width: 55%;
}

#player-container {
    background: orange; 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 960px;
    padding: 1%; 
    width: 45%; 
}

#team-form-div {
    background: orange; 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 960px;
    padding: 1%; 
    width: 45%; 
}

#player-form {
    background: orange; 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 960px;
    padding: 1%; 
    width: 45%; 
}